<form
  hx-post="{{ url_for('comments.post_comment', post_id=post_id, reply_to=comment_id)}}"
  hx-trigger="submit"
  hx-target="this"
  hx-swap="outerHTML"
>
  <input name="post_id" value="{{post_id}}" type="hidden" />
  <label
    >Name *
    <input name="name" type="text" />
  </label>
  <label
    >Website
    <input name="url" type="url" />
  </label>
  <label
    >What do you think?
    <textarea name="message"></textarea>
  </label>
  <input name="user_email" class="user_email" type="checkbox" />
  <input type="submit" value="Submit" />
</form>
