<!DOCTYPE html>
<html lang="en">

<head>
  <title>oh, hey Brian | Brian Bennett</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Brian Bennett is a teacher in Buchanan, Michigan.">
  <meta name=”robots” content=”index, follow, max-snippet:-1,max-image-preview:large, max-video-preview:-1″>
  <link rel="canonical" href="https://ohheybrian.com">
  <link rel="stylesheet" href="/static/assets/style.css">
</head>

<body>
  {% include 'shared/partials/nav.html' %}
  <main>
    {% block main_content %} {% endblock %}
  </main>
  <footer>
    <p>This site was created with love by Brian Bennett. Updated June, 2023</p>
  </footer>
  <script src="static/assets/script.js"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</body>

</html>