<h1>Academics</h1>
<div class="container--flex">
	<div class="block--title">
		<h2>Goals Reflection</h2>
	</div>
	<div class="block--text">
		<p>I took the long-tail approach to my master's degree - ten years later, this is a look back at my initial goals and a comparison to my professional tracjectory and the learning I've done, formally and informally, along the way.</p>
		<a href="https://blog.ohheybrian.com/2023/06/goals-10-years-later/" target="_blank">Read the post</a>
	</div>
</div>
<div class="container--flex">
	<div class="block--title">
		<h2>Showcase</h2>
	</div>
	<div class="block--text">
		<p>Explore a collection of resources, artifacts, and samples of my work with students and adults over the course of my career.</p>
		<a href="{{ url_for('home.showcase') }}">Explore artifacts</a>
	</div>
</div>
