<h1>Academics</h1>
<div class="container--flex col">
	<div class="block--title">
		<h2>Goals Reflection</h2>
	</div>
	<div class="block--text">
		<p>I took the long-tail approach to my master's degree - ten years later, this is a look back at my initial
			goals and a comparison to my professional trajectory and the learning I've done, formally and informally,
			along the way.</p>
		<a href="https://blog.ohheybrian.com/2023/06/goals-10-years-later/" target="_blank">Read the post</a>
	</div>
</div>
<div class="container--flex col">
	<div class="block--title">
		<h2>Showcase</h2>
	</div>
	<div class="block--text">
		<p>Explore a collection of resources, artifacts, and samples of my work with students and adults over the course
			of my career.</p>
		<a href="{{ url_for('home.showcase') }}">Explore artifacts</a>
	</div>
</div>
<div class="container--flex col">
	<div class="block--title">
		<h2>Future Learning Goals</h2>
	</div>
	<div class="block--text">
		<p>My thinking about teaching and learning has changed significantly in the last eight years. This essay is a
			look into the next several years of learning and the ways in which I want to grow as an educator.</p>
		<a href="https://blog.ohheybrian.com/2023/07/goals-moving-forward/" target="_blank">Read the post</a>
	</div>
</div>
<div class="container--flex col">
	<div class="block--title">
		<h2>Annotated Transcript</h2>
	</div>
	<div class="block--text">
		<p>This page is a detailed outline of each course I've taken in completing my master's degree. Entries are
			listed in chronological order and included a brief summary of the course focus and the lasting impact on my
			career.</p>
		<a href="{{ url_for('home.transcript') }}">Follow my steps</a>
	</div>
</div>
<div class="container--flex col">
	<div class="block--title">
		<h2>Synthesis Essay</h2>
	</div>
	<div class="block--text">
		<p>The final essay for my capstone materials, this synthesis explores highlights from my degree and ways in
			which participating in the MAET program has changed me as an educator.</p>
		<a href="https://blog.ohheybrian.com/2023/07/my-friend-maet/" class="cta">Read the retrospective</a>
	</div>
</div>