<h1>Academics</h1>
<div class="container">
<h2>Publishing</h2>
<ul>
<li>Bennett, B., Bromen, K. (2019). <a href="https://files.eric.ed.gov/fulltext/EJ1245094.pdf" target="_blank">Growing teacher leaders from the ground up.</a> <em>International Journal of Teacher
        Leadership</em>, 10(1), 56-66.</li>
    <li>Bennett, B, (2014). Shifting to student engagement in J. Bergman and A. Sams (Eds.), <em>Flipped learning:
        Gateway to student engagement,</em>. ASCD.</li>
    <li>Bennett, B. (2013). Mastery in J. Bretzmann (Ed.) <em>Flipping 2.0: Practical strategies for flipping your
        class</em> (pp. 7-23). Bretzmann Group.</li>
    <li>Bennett, B. (2013). Flipped learning in the science classroom in Handke, J, Kiesler, N., and Wiemeyer, L, (Eds.)
      <em>The inverted classroom model: The 2nd German ICM conference - proceedings</em>. De Gruyter.</li>
	</ul>
<div class="container--flex col">
	<div class="block--title">
		<h2>Goals Reflection</h2>
	</div>
	<div class="block--text">
		<p>I took the long-tail approach to my master's degree - ten years later, this is a look back at my initial
			goals and a comparison to my professional trajectory and the learning I've done, formally and informally,
			along the way.</p>
		<a href="https://blog.ohheybrian.com/2023/06/goals-10-years-later/" target="_blank">Read the post</a>
	</div>
</div>
<div class="container--flex col">
	<div class="block--title">
		<h2>Showcase</h2>
	</div>
	<div class="block--text">
		<p>Explore a collection of resources, artifacts, and samples of my work with students and adults over the course
			of my career.</p>
		<a href="{{ url_for('home.showcase') }}">Explore artifacts</a>
	</div>
</div>
<div class="container--flex col">
	<div class="block--title">
		<h2>Future Learning Goals</h2>
	</div>
	<div class="block--text">
		<p>My thinking about teaching and learning has changed significantly in the last eight years. This essay is a
			look into the next several years of learning and the ways in which I want to grow as an educator.</p>
		<a href="https://blog.ohheybrian.com/2023/07/goals-moving-forward/" target="_blank">Read the post</a>
	</div>
</div>
<div class="container--flex col">
	<div class="block--title">
		<h2>Annotated Transcript</h2>
	</div>
	<div class="block--text">
		<p>This page is a detailed outline of each course I've taken in completing my master's degree. Entries are
			listed in chronological order and included a brief summary of the course focus and the lasting impact on my
			career.</p>
		<a href="{{ url_for('home.transcript') }}">Follow my steps</a>
	</div>
</div>
<div class="container--flex col">
	<div class="block--title">
		<h2>Synthesis Essay</h2>
	</div>
	<div class="block--text">
		<p>The final essay for my capstone materials, this synthesis explores highlights from my degree and ways in
			which participating in the MAET program has changed me as an educator.</p>
		<a href="https://blog.ohheybrian.com/2023/07/my-friend-maet/">Read the retrospective</a>
	</div>
</div>