<div class="container">
	<h1>Showcase</h1>
	<p>This page holds an archive of some of my best work. Samples range from reflective pieces explaining my position
		on education topics like instruction or collaboration. Other items are samples of materials used with student and
		adult learners.</p>
	<p>All of the instructional materials are licensed as <a
			href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0
			(CC-BY-NC-SA 4.0)</a> terms. Feel free to take, remix, and use anything here, just don't turn around and sell
		it. All other work is All Rights Reserved, Brian Bennett.</p>
	<p>Use the filters below to find a specific category or browse at your leisure.</p>
</div>
<hr />
<div class="container--flex" id="showcase">
	<aside class="filters">
		<label>
			<input type="radio" name="type" _="on click show .card in .cards" checked />All items</label>
		<label>
			<input type="radio" name="type"
				_="on click show .card in .cards when its @data-type is 'principles'" />Principles of Learning</label>
		<label>
			<input type="radio" name="type" _="on click show .card in .cards when its @data-type is 'leadership'" />Leadership</label>
		<label>
			<input type="radio" name="type"
				_="on click show .card in .cards when its @data-type is 'design'" />Intentional Design</label>
	</aside>
	<div class="container--flex cards">
		<div class="card" data-type="principles">
			<div class="card--header">
				<h2>Theory of Learning</h2>
			</div>
			<span class="category">Principles</span>
			<div class="card--body">
				<p>This academic research paper presents my personal theory of learning. It explores various cognitive science
					aspects of learning as well as the social and interpersonal aspects of learning. This pieces is a look into my mindset as a teacher of adults and informs my decisions when I'm working with staff on improving instructional practice and pedagogy in their classrooms.</p>
				<a href="https://docs.google.com/document/d/1l-50kljr3p9GrJePYaqLIOsTiaDuv13sRjcM7ES6vSA/preview"
					class="cta">Read the article</a>
			</div>
		</div>
		<div class="card" data-type="principles">
			<div class="card--header">
				<h2>Learning in, and out, of school</h2>
			</div>
			<span class="category">Principles</span>
			<div class="card--body">
				<p>A deeper reflection on the role of school as it applies to learning. A trap we fall into as teachers is to
					think that learning happens best when we're in schools. I argue against that perspective.</p>
				<a href="{{ url_for('academics.learning_in_out') }}" class="cta">Read the article</a>
			</div>
		</div>
		<div class="card" data-type="principles">
			<h2>Conditioning and Learning</h2>
			<span class="category">Principles</span>
			<div class="card--body">
				<p>I see Skinner and Thorndike's fingerprints in schools. The way students are conditioned to learn needs to
					change and it starts with teachers realizing that they're a part of the conditioning process. In this piece, I look at how traditional wordlviews of learning still affect us today, especially in light of marketing and messaging targeted towards teachers from the educational technology sector.</p>
				<a href="https://blog.ohheybrian.com/2023/02/conditioning-and-learning/" class="cta">Read the article</a>
			</div>
		</div>
		<div class="card" data-type="leadership">
			<h2>So Many Teachers, So Few Coaches</h2>
			<span class="category">Leadership</span>
			<div class="card--body">
				<p>I lead a team of five instructional coaches in a district with 900 teachers. We work collaboratively to
					manage the load in an effort to provide timely, relevant supports to all staff. In this presentation, we
					discussed some of our strengths and weaknesses and goals for continuous improvement.</p>
				<p><em>More details are available in the speaker notes. Use the three-dot menu to open all notes.</em></p>
				<a href="https://docs.google.com/presentation/d/1P4klsrEfc5ZwX-F8BHGJjpGKKbtsDV5w9c2IEqXvtRs/preview"
					class="cta">Explore the slides</a>
			</div>
		</div>
		<div class="card" data-type="design">
			<h2>Virtual Teaching Toolkit</h2>
			<span class="category">Intentional Design</span>
			<div class="card--body">
				<p>As part of the support given to teachers during the COVID-19 remote schooling time, I created a series of
					slides with links to resources teachers could use to prepare and deliver supportive, differentiated, and
					engaging digital instruction. This piece demonstrates my skill in providing coherent instruction for adults and challenges professionals to reconsider their practice in light of changing conditions.</p>
				<a href="https://docs.google.com/presentation/d/1K9__wOTNF90aJF-jChuuSpTV1JgGureyQdSpXbbD7OU/preview">Explore
					the slides</a>
			</div>
		</div>
		<div class="card" data-type="design">
			<h2>Technology-rich Lesson Example</h2>
			<span class="category">Intentional Design</span>
			<div class="card--body">
				<p>This is a full-featured lesson designed as an exemplar for teachers to use with students in an in-person or
					virtual setting. It uses Google Slides to house an interactive, reflective activity where students are asked
					to listen to music samples and then discuss their responses in writing.This is a good example of my ability to use technology to enhance the learning experience for students in ways that would not be possible otherewise.</p>
				<a href="https://docs.google.com/presentation/d/1mTtQb3EWog5Td0i_6i7IYp5hKXzvgnPAJmjNDdKPDHQ/view"
					class="cta">Explore the activity</a>
			</div>
		</div>
		<div class="card" data-type="leadership">
			<h2>Designing Instruction as a Professional Learning Community</h2>
			<span class="category">Leadership</span>
			<div class="card--body">
				<p>I wrote a series of blog posts exploring how Professional Learning Communities (PLCs) play a critical role in
					designing coherent instruction. This series looked specifically at the role of assessment at the classroom,
					department, and building/district levels as we work to help student make academic gains. I'm demonstrating my ability to frame curriculum design as a component of pedagogy, where our materials support our practices.</p>
				<a href="https://blog.elkhart.k12.in.us/category/plc/" class="cta">Read the articles</a>
			</div>
		</div>
		<div class="card" data-type="leadership">
			<h2>Understanding AI in Education</h2>
			<span class="category">Intentional Design</span>
			<div class="card--body">
				<p>AI is a growing field with significant interest in the education space. It's easy to find blog posts and articles talking about what teachers should do with AI tools but neglect to inform the reader about what AI <em>is</em> and how teachers should frame it as a technology. This blog post demonstrates my ability to take complex subjects, deconstruct them into easy-to-understand language, and challenge readers to consider the implications through reflection.</p>
				<a href="https://blog.elkhart.k12.in.us/2023/05/the-basics-of-chatgpt-in-simple-language/" class="cta">Read the article</a>
			</div>
		</div>
	</div>
</div>