{% macro render_comment(comment) -%}
<article class="comment">
  <span class="comment--meta">
    <p>A thought from <b>{{ comment.name }}</b></p>
  </span>
  <em class="comment--datestamp">{{comment.occurred}}</em>
  <p>{{ comment.message }}</p>
  <button
    class="btn"
    hx-get="{{ config.COMMENTS_ENDPOINT }}/comments/{{ comment.slug }}/reply/{{ comment.id }}"
    hx-target="next div"
    hx-swap="innerHTML"
    hx-trigger="click"
  >
    Reply
  </button>
  <div class="reply"></div>
  {% if comment.has_replies %} {% for reply in comment.replies %} {% if
  reply.approved %} {{ render_comment(reply) }} {% endif %} {% endfor %} {%
  endif %}
</article>
{% endmacro %}
