<p>An affordance of technology is to create and use alternative assessment and reporting methods with students. One
	system that has a large impact on teaching and learning is Standards-based Grading, where student progress is
	reported in terms of skills demonstrated rather than assignments completed.</p>
<p>I have led workshops with teachers and administrators locally and regionally on how to implement Standards-base
	Grading in their schools and classrooms. The links below will take you to slides and other documents I have created
	to help guide participants in reflection on assessment and reporting practices.</p>

<h3>Presentations</h3>
<em>In the slides view, use the three-dot menu in the bottom left to open the speaker notes which often contain more
	context and other resources.</em>
<ul>
	<li><a href="https://docs.google.com/presentation/d/1lFMgsjkV5CcT3iDIStaeY5bUjl3anvR-wkTUbxySRAc/preview"
			target="_blank">Critical SBG</a>: A virtual session shared during InstuctureCon 2021 on how to move to
		standards-based assessment and grading as a corporation or system rather than an individual.</li>
	<li><a href="https://docs.google.com/presentation/d/1zb8N3dfEZUrtUM4PmmXm_AkgCQ-iOW2wTwwbhcMB4NY/preview"
			target="_blank">SBG Introduction</a>: This workshop is meant for teachers who are brand new to alternative
		assessment and grading methods and meant to get them to think about the purposes for grading and how those
		decisions impact instruction.</li>
</ul>

<h3>Writing</h3>
<ul>
	<li><a href="https://blog.elkhart.k12.in.us/2021/12/sel-aware-practice-with-standards-based-grading/"
			target="_blank">SEL-aware Practice with Standards Based Grading</a></li>
	<li><a href="https://blog.elkhart.k12.in.us/2021/11/youre-ready-for-sbg-today/" target="_blank">You're Ready for SBG
			Today</a></li>
	<li><a href="https://blog.ohheybrian.com/2020/02/performance-tasks-in-sbg/" target="_blank">Performance Tasks in
			Standards-Based Grading</a></li>
</ul>