	<p>I actively watched for state-level grants which could be used to augment and fund professional learning activities
		within the district. During my time with the instructional coaching team, I have been awarded more than $200,000 to
		provide professional learning incentives for Elkhart staff.</p>
	<p>Grants I have personally authored and managed are:</p>
	<ul>
		<li>Digital Learning Grant (2023) - $47,000</li>
		<li>AEP Community Grant (2022) - $10,000</li>
		<li>Digital Learning Capacity Building Grant (2020) - $100,000</li>
		<li>Digital Learning Grant (2017) - $75,000</li>
	</ul>
