	<p>Elkhart Community Schools invests heavily in staff professional learning opportunities. As part of my role in the
		district, I planned and coordinated all-district instructional conferences annually from 2018 - 2023.
	<p>
	<p>Elkhart teachers and instructional coaches were invited to submit proposals for breakout sessions to explore topics within instruction. Presenters worked with district leadership to develop and lead workshops of peers to highlight local expertise.</p>
	<p>Tasks I managed for each event include:</p>
	<ul aria-role="list">
		<li>collecting proposals for presentations</li>
		<li>creating custom websites for registrations</li>
		<li>developing a conference platform for a fully-virtual conference</li>
		<li>managing records of attendance for professional learning credit</li>
	</ul>
	<p>Due to COVID-19 restrictions, the 2021 conference was completely virtual. All sessions are available for viewing on the <a href="https://www.youtube.com/playlist?list=PLIrdXGjvt9pO42ptxBwfjTWwbaEhmcNUA" target="_blank"> Instructional Technology YouTube channel</a>.</p>
