<p>Elkhart Community Schools invests heavily in staff professional learning opportunities. As part of my role in the
	district, I planned and coordinated all-district instructional conferences annually from 2018 - 2023.
<p>
<p>Elkhart teachers and instructional coaches were invited to submit proposals for breakout sessions to explore topics
	within instruction. Presenters worked with district leadership to develop and lead workshops of peers to highlight
	local expertise.</p>
<p>Tasks I managed for each event include:</p>
<ul aria-role="list">
	<li>collecting proposals for presentations</li>
	<li>creating custom websites for registrations</li>
	<li>developing a conference platform for a fully-virtual conference</li>
	<li>managing records of attendance for professional learning credit</li>
</ul>
<p>Event schedules and recordings are available for viewing:</p>
<ul>
	<li>
		<a href="https://www.youtube.com/playlist?list=PLIrdXGjvt9pO42ptxBwfjTWwbaEhmcNUA" target="_blank">2021 Virtual
			Conference</a>
	</li>
	<li><a href="https://summerlearningseries2023.sched.com" target="_blank">2023 Schedule of Events</a></li>
</ul>