<p>A significant part of my role is general instructional technology training for teachers. I worked with my team to
	create workshops that were relevant, timely, and approachable by teachers of any comfort level. Below is a selection
	of workshops I have led, both in person and virtually, over the last several years.</p>
<h3>Presentations</h3>
<em>In the slides view, use the three-dot menu in the bottom left to open the speaker notes which often contain more
	context and other resources.</em>
<ul>
	<li><a href="https://docs.google.com/presentation/d/1LXUzMiSqJ7cNQ6kc01-aNEaFN4sfiHJG-4xA0m1i2T4/preview"
			target="_blank">Reflections with SAMR</a>: A collaborative workshop with departments learning about the SAMR
		model for engagement with technology and then brainstorming ways to use it within their content areas.</li>
	<li><a href="https://docs.google.com/presentation/d/1K9__wOTNF90aJF-jChuuSpTV1JgGureyQdSpXbbD7OU/preview"
			target="_blank">Virtual Teaching Toolkit</a>: A quick reference guide to creating virtual learning
		experiences shared with teachers in small groups during COVID remote teaching.</li>
	<li><a href="https://docs.google.com/presentation/d/1tsDJDxYP6NZM2SiSea-zvD4uV2i4DcGT7z87bohapKQ/preview"
			target="_blank">Canvas 101</a>: A presentation used with secondary teachers to introduce the Canvas Learing
		Management System.</li>
</ul>

<h3>Recordings</h3>
<ul>
	<li><a href="https://www.youtube.com/watch?v=aw0KhpTbfxw" target="_blank">Apps and Tools to Stay Productive in
			Google</a></li>
	<li><a href="https://www.youtube.com/watch?v=1yPeiPN-QV0" target="_blank">Using Jamboard with Students</a></li>
	<li><a href="https://www.youtube.com/watch?v=vQ3W-DK5OUU" target="_blank">Design Tips from a Non-designer</a></li>
</ul>