{% extends "_layout.html" %} {% block main_content %}
<h2>#{{ tag.name }}</h2>
{% for post in tag.posts %}
<article>
  <header class="article_title">
    <h2>
      <a
        href="{{ url_for('post.get_single_post', year=post.created_year, month=post.created_month, post_slug=post.slug)}}"
        >{{post.title}}</a
      >
    </h2>
  </header>
  <footer class="article_footer">
    <time
      datetime="{{ post.created_on.isoformat() }}"
      pubdate="{{ post.created_on.isoformat() }}"
      >{{ post.created_on.strftime('%Y-%m-%d') }}</time
    >
  </footer>
</article>
{% endfor %} {% endblock %}
