<h1>Leadership</h1>
<div class="container--grid">
	<section class="menu">
		<ul role="menu">
		<li
			role="menuitem"
			hx-get="/leadership/institutes"
			hx-target="#details"
			hx-swap="innerHTML"
		>Elkhart Institute Days</li>
		<li
			role="menuitem"
			hx-get="/leadership/grants"
			hx-target="#details"
			hx-swap="innerHTML"
		>Grant Writing</li>
		<li
			role="menuitem"
			hx-get="training.html"
			hx-target="#details"
			hx-swap="innerHTML"
		>Full-district 1:1 iPad Distribution and Training</li>
		</ul>
	</section>
	<section id="details"></section>
</div>
