<div class="container" style="padding:0">
	<h1>Leadership & Speaking</h1>
	<p>Below is a selection of projects and workshops I have led both as a teacher and an
		instructional coach.</p>
</div>
<div class="container--grid">
	<section class="menu">
		<ul role="menu">
			<li role="menuitem" hx-get="/leadership/institutes" hx-target="#details" hx-swap="innerHTML" 
				_="
					on click remove .selected from <li/>
					add .selected to me
				"
			>Elkhart Institute Days</li>
			<li role="menuitem" hx-get="/leadership/grants" hx-target="#details" hx-swap="innerHTML"
				_="
					on click remove .selected from <li/>
					add .selected to me
				"
			>Grant Writing</li>
			<li role="menuitem" hx-get="/leadership/assessment" hx-target="#details" hx-swap="innerHTML"
			
				_="
					on click remove .selected from <li/>
					add .selected to me
				">
				Alternative Assessment Training</li>
			<li role="menuitem" hx-get="/leadership/technology" hx-target="#details" hx-swap="innerHTML" 
				_="
					on click remove .selected from <li/>
					add .selected to me
				"
			>
				Instructional Technology Training</li>
		</ul>
	</section>
	<section id="details">Click a title on the left to read more.</section>
</div>