<div class="container--flex full-bleed">
	<div class="gallery">
		<img class="gallery--img" src="{{ url_for('static', filename='images/gallery1-small.webp') }}" />
		<img class="gallery--img" src="{{ url_for('static', filename='images/gallery2-small.webp') }}" />
		<img class="gallery--img" src="{{ url_for('static', filename='images/gallery3-small.webp') }}" />
		<img class="gallery--img" src="{{ url_for('static', filename='images/gallery4-small.webp') }}" />
	</div>
	<section>
		<h1>Brian Bennett</h1>
		<em>A collaborative educator and leader focused on using innovative instructional methods to design authentic learning experiences for all students.</em>
		<hr />
		<p>Send me a message directly with the form below or use one of the other methods linked.</p>
		<form
			hx-trigger="submit"
			hx-post="/about/contact"
		>
			<input name="last_name" placeholder="Last name" required type="text" />
			<input name="first_name" placeholder="First name" required type="text" />
			<input name="email" placeholder="Email address" required type="text" />
			<textarea name="message" placeholder="What's up?" required type="text"></textarea>
			<button class="btn btn--primary" type="submit">Send</button>
		</form>
		<section class="social">
			<a href="https://blog.ohheybrian.com">Blog</a>
			<a href="https://pixelfed.social/@bennettscience">Photos</a>
			<a href="https://youtube.com/bennettscience">YouTube</a>
			<a href="https://fosstodon.org/@brianb">Mastodon</a>
			<a href="https://github.com/bennettscience">Github</a>
		</section>
	</section>
</div>
