{% extends "_layout.html" %} {% block main_content %}
<div class="container--flex full-bleed">
  <img
    src="{{ url_for('static', filename='assets/img/gallery2-small.webp') }}"
  />
  <section>
    <h1>Brian Bennett</h1>
    <em
      >A collaborative educator and leader focused on using innovative
      instructional methods to design authentic learning experiences for all
      students.</em
    >
    <hr />
    <p>
      Send me a message directly by emailing
      <a href="mailto:brian@ohheybrian.com">brian@ohheybrian.com</a> or use one
      of my social media options.
    </p>
    <section class="social">
      <a href="https://blog.ohheybrian.com">Blog</a>
      <a href="https://youtube.com/bennettscience">YouTube</a>
      <a href="https://fosstodon.org/@brianb">Mastodon</a>
      <a href="https://github.com/bennettscience">Github</a>
    </section>
  </section>
</div>
{% endblock %}
