
<section id="experience" class="container--flex">
	<aside class="filters">
		<h2>Filters</h2>
		<label>
		<input type="radio" name="type" _="on click show .timeline--item in .timeline" checked />All items</label>
		<label>
		<input type="radio" name="type" _="on click show .timeline--item in .timeline when its @life-event is 'job'" />Work Experience</label>
		<label>
		<input type="radio" name="type" _="on click show <li/> in .timeline when its @life-event is 'event'" />Special Projects</label>
		<label>
		<input type="radio" name="type" _="on click show .timeline--item in .timeline when its @life-event is 'degree'" />Education</label>
		<hr />
		<a class="cta" href="https://docs.google.com/document/d/1BKWnZOfDgCGIKn02AnO_qHhhovACFRWFgKcR78m7YPE/preview" target="_blank">Printable version</a>
	</aside>
	<ul class="timeline ">
		<li class="timeline--item" id="maet" life-event="degree">
			<div class="timeline--item__icon yellow">{{ icons.document | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title"><a href="https://education.msu.edu/cepse/maet/" target="_blank">MA in Educational Technology</a></h4>
			</div>
			<p class="timeline--item__date">August 2023 (anticipated)</p>
			<div class="timeline--item__description">
				<p>The MAET program at Michigan State University is a rigorous program focused on pedagogy and the use of technology as an instructional tool. My particular focus has been on education leadership and how technology influences our interactions with students and teachers.</div>
			</div>
		</li>
		<li class="timeline--item" id="dot-2022" life-event="event">
			<div class="timeline--item__icon green">{{ icons.clipboard| safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">Do One Thing Conference</h4>
			</div>
			<p class="timeline--item__date">June 2022, August 2023</p>
			<div class="timeline--item__description">
				<p>Planned and coordinated the first-annual Do One Thing instructional conference. This included collecting proposals for presentations, creating a custom website for registrations, and building a conference platform to track attendance and materials for participants.</p>
				<a class="cta" href="https://summerlearningseries2023.sched.com" target="_blank">2023 Program Schedule</a>
				</div>
			</div>
		</li>
		<li class="timeline--item" id="current" life-event="event">
			<div class="timeline--item__icon yellow">{{ icons.clipboard | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">Technology Ambassador Program</h4>
			</div>
			<p class="timeline--item__date">July 2017 - June 2023</p>
			<div class="timeline--item__description">
				<p>14 elementary and 17 secondary teachers were selected to become Technology Ambassadors in their building and serve as in-house coaches. Their work is coordinated at the district level and they act as the first line of support for all district staff when using technology in instruction.</p>
				<a class="cta" href="https://docs.google.com/presentation/d/1P4klsrEfc5ZwX-F8BHGJjpGKKbtsDV5w9c2IEqXvtRs/preview?slide=id.p" target="_blank">Read more about our coaching</a>
			</div>
			</div>
		</li>
		<li class="timeline--item" id="current" life-event="job">
			<div class="timeline--item__icon yellow">{{ icons.location | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">Coordinator of Professional Learning</h4>
			</div>
			<p class="timeline--item__date">July 2021 - Present</p>
			<div class="timeline--item__description">After serving as an instructional coach, I took the position of Coordinator of Professional Learning for Elkhart Community Schools. Responsibilities include overseeing the instructional coaching team, participating on the district Instructional Leadership team, and coordinating professional learning across various departments within the corporation.</div>
			</div>
		</li>
		<li class="timeline--item" id="current" life-event="event">
			<div class="timeline--item__icon yellow">{{ icons.clipboard | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">2020 Digital Learning Grant</h4>
			</div>
			<p class="timeline--item__date">July 2020 - June 2021</p>
			<div class="timeline--item__description">
				<p>Wrote and received a $100,000 IDOE grant. In response to full time virtual schooling, teachers are coached in a five-week sequence on creating and using instructional materials for virtual students. They work through four areas of growth: Providing Information, Guiding Thinking, Practice & Application, and Collaborative Work.</p>
				<a class="cta" href="https://elkhart.badgr.com/public/pathway/5d82874946e0fb00217435c7" target="_blank">See the learning pathway</a>
			</div>
			</div>
		</li>
		<li class="timeline--item" id="current" life-event="event">
			<div class="timeline--item__icon yellow">{{ icons.clipboard | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">Google Workspace and Canvas LMS Adoption</h4>
			</div>
			<p class="timeline--item__date">June 2016 - July 2017</p>
			<div class="timeline--item__description">
				<p>All ECS employees were migrated to Google Workspace for productivity tools and Canvas as the official LMS starting in 2017. Staff were given training during the year as well as optional summer sessions. Regular training was available to ECS staff focused on improving efficiency and communication between staff, students, and families.</p><a class="cta" href="https://sites.google.com/elkhart.k12.in.us/elkhart-pd/digital-resources/canvas" target="_blank">Canvas Training Resources</a>
				<a class="cta" href="https://sites.google.com/elkhart.k12.in.us/elkhart-pd/digital-resources/google" target="_blank">Google Training Resources</a>
			</div>
		</li>
		<li class="timeline--item" id="current" life-event="job">
			<div class="timeline--item__icon yellow">{{ icons.location | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">District Instructional Coach</h4>
			</div>
			<p class="timeline--item__date">July 2016 - June 2020</p>
			<div class="timeline--item__description">
				<p>Served as an innaugural member of the district instructional coaching team for secondary teachers. We helped oversee and implement a transition to Google Workspace, Canvas, Seesaw, and iPads for all staff and students.</p>
				<a class="cta" href="https://blog.elkhart.k12.in.us/author/bbennett/" target="_blank">Sample blog posts used in coaching</a>
			</div>
		</li>
		<li class="timeline--item" id="current" life-event="job">
			<div class="timeline--item__icon yellow">{{ icons.location | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">Integrated Chemistry & Physics, AP Biology Teacher</h4>
			</div>
			<p class="timeline--item__date">January 2015 - July 2016</p>
			<div class="timeline--item__description">
			<p>Taught Integrated Chemistry & Physics 
				<p>and AP Biology for Elkhart Community Schools.</p>
			<a class="cta" href="https://www.youtube.com/watch?v=E6UIyOc7IzQ" target="_blank">Sample biology video</a>
			</div>
			</div>
		</li>
		<li class="timeline--item" id="techsmith" life-event="job">
			<div class="timeline--item__icon yellow">{{ icons.location | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">TechSmith, Corp</h4>
			</div>
			<p class="timeline--item__date">March 2013 - Nov 2014</p>
			<div class="timeline--item__description">Academic Solutions Engineer</div>
			</div>
		</li>
		<li class="timeline--item" id="current" life-event="job">
			<div class="timeline--item__icon yellow">{{ icons.location | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">Chemistry, Web Development Teacher</h4>
			</div>
			<p class="timeline--item__date">August 2012 - March 2013</p>
			<div class="timeline--item__description">Taught chemistry and web design at the South Bend Career Academy.</div>
			</div>
		</li>
		<li class="timeline--item" id="current" life-event="job">
			<div class="timeline--item__icon yellow">{{ icons.location | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">Biology, Chemistry Teacher</h4>
			</div>
			<p class="timeline--item__date">July 2011 - June 2012</p>
			<div class="timeline--item__description">Taught chemistry and biology at William Henry Harrison High School in Evansville, Indiana.</div>
			</div>
		</li>
		<li class="timeline--item" life-event="job">
			<div class="timeline--item__icon yellow">{{ icons.location | safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">Chemistry, AP Chemistry Teacher</h4>
			</div>
			<p class="timeline--item__date">June 2009 - July 2011</p>
			<div class="timeline--item__description">Taught chemistry and AP Chemistrey at <a href="https://yisseoul.org" target="_blank">Yongsang International School</a> in Seoul, South Korea.</div>
			</div>
		</li>
		<li class="timeline--item" life-event="degree">
			<div class="timeline--item__icon yellow">{{ icons.document| safe }}</div>
			<div class="timeline--panel">
			<div class="timeline--item__heading">
				<h4 class="timeline--item__title">BS Biology & Secondary Education</h4>
			</div>
			<p class="timeline--item__date">December, 2008</p>
			<div class="timeline--item__description">Graduated from Asbury College in Wilmore, KY.</div>
			</div>
		</li>
</section>