<div id="cover" class="container container--flex">
  <div class="yellow float-block--small" id="block1"></div>
  <div class="orange float-block--small" id="block2"></div>
  <img class="face" src="static/images/selfie.webp" alt="A sketch of my face" />
  <div>
    <h1>Oh, hey.</h1>
    I'm <strong>Brian Bennett</strong>: A collaborative educator and leader focused on using innovative
    instructional methods to design authentic learning experiences for all students.</p>
    <p>I am currently the <b>Coordinator of Professional Learning</b> for Elkhart Community Schools in northern
      Indiana. </p>
  </div>
</div>
<div class="container">
  <div class="box--title__wrap">
    <div class="box--title__outer">
      <div class="box--title__inner green">about</div>
    </div>
  </div>
</div>
<div class="container--flex">
  <section>
    <p>I started teaching at an international school in 2009. My principal had enough confidence that a
      newly-graduated biology education major would be able to teach high school chemistry. Since then, I've taught
      <strong>chemistry, physics, biology</strong>, and some <strong>introductory computer science</strong>. I'm a
      teacher at heart but also have experience as an <strong>instructional coach</strong> and district-level team
      leader for <strong>professional development</strong> and <strong>curriculum design</strong>.</p>
    </p>
    <p>
      When I'm not teaching, I'm working on our <a href="https://www.upstreamfarm.com" target="_blank">family's farm in
        Michigan</a>. We raise animals, produce, flowers, and honey bees. We're carving out a well-cared for space and
      teaching our kids the value of hard work.
    </p>
    <p>
      In my other spare time, I like making things on the Internet.
    </p>
    <a class="cta" href="{{ url_for('home.contact') }}">Get in touch</a>
  </section>
  <section id="beekeeping">
    <img src="/static/images/beekeeping.webp" />
  </section>
</div>
<div class="container">
  <div class="box--title__wrap">
    <div class="box--title__outer">
      <div class="box--title__inner orange">academics</div>
    </div>
  </div>
</div>
<div class="container--flex">
  <section id="academics">
    <img src="static/images/teaching_small.webp" />
  </section>
  <section>
    <span class="small-header">Credentials</span>
    <p>MA Education Technology - Michigan State University, 2023 (anticipated)
    <p>
    <p>BA Biological Science and Education - Asbury College, 2008</p>
    <span class="small-header">Publications</span>
    <p>Bennett, B., Bromen, K. (2019). Growing teacher leaders from the ground up. <em>International Journal of Teacher
        Leadership</em>, 10(1), 56-66.</p>
    <p>Bennett, B, (2014). Shifting to student engagement in J. Bergman and A. Sams (Eds.), <em>Flipped learning:
        Gateway to student engagement,</em>. ASCD.</p>
    <p>Bennett, B. (2013). Mastery in J. Bretzmann (Ed.) <em>Flipping 2.0: Practical strategies for flipping your
        class</em> (pp. 7-23). Bretzmann Group.</p>
    <p>Bennett, B. (2013). Flipped learning in the science classroom in Handke, J, Kiesler, N., and Wiemeyer, L, (Eds.)
      <em>The inverted classroom model: The 2nd German ICM conference - proceedings</em>. De Gruyter.</p>
  </section>
</div>