{% extends '_layout.html' %} {% block nav %}
<nav>
  <a href="/"
    ><img
      id="nav-face"
      src="https://ohheybrian.com/static/images/selfie.webp"
      alt="A sketch of my face"
  /></a>
  <ul class="nav-items">
    <li><a href="#">Posts</a></li>
    <li><a href="#">Comments</a></li>
    <li><a href="#">Pages</a></li>
    <li><a href="#">Categories</a></li>
    <li><a href="#">Tags</a></li>
  </ul>
</nav>
{% endblock %} {% block main_content %}
<a class="btn" href="{{ url_for('admin.create_post')}}">New post</a>
<div class="container with-sidebar">
  <section>
    <h2>Posts</h2>
    {% for post in posts %}
    <article
      class="admin"
      style="display: flex; justify-content: space-between"
    >
      <section>
        <p>{{post.title}}</p>
        <p>{{ post.created_on.strftime('%Y-%m-%d : %I:%M %p' )}}</p>
        <p>{{ post.post_body|safe|truncate}}</p>
      </section>
      <section>
        <p>{% if post.published %}published{% else %}draft{% endif %}</p>
      </section>
    </article>
    {% endfor %}
  </section>
  <section>
    <h3>Filters</h3>
    <label>
      <input type="checkbox" value="all" />
      All
    </label>
    <label>
      <input type="checkbox" value="published" />
      Published
    </label>
    <label>
      <input type="checkbox" value="draft" />
      Draft
    </label>
  </section>
</div>
{% endblock %}
