{% extends '_layout.html' %} {% block main_content %}
<div class="container">
  {% for post in posts %}
  <p>{{post.title}}</p>
  {% endfor %}
  <h2>Comments</h2>
  <div class="container--flex">
    <div id="pending">
      <h3>Pending</h3>
      <p>
        {{ comments | selectattr("approved", "equalto", False) | list | count}}
      </p>
    </div>
    <div id="approved">
      <h3>Approved</h3>
      <p>
        {{ comments | selectattr("approved", "equalto", True) | list | count}}
      </p>
    </div>
    <div id="spam">
      <h3>Spam</h3>
      <p>
        {{ comments | selectattr("is_spam", "equalto", True) | list | count}}
      </p>
    </div>
    <div id="total">
      <h3>Total</h3>
      <p>{{ comments | count }}</p>
    </div>
  </div>
  <div class="container--flex col">
    {% for comment in comments %}
    <div
      class="comment"
      _="on delete remove me"
      data-approved="{{comment.approved}}"
    >
      <b>{{comment.name}}</b>
      <p>Post: {{comment.slug}}</p>
      <p>{{comment.message}}</p>
      <p>{{comment.occurred}}</p>
      <p>Spam likely: {{comment.is_spam}}</p>
      <section class="comment-actions">
        <button hx-trigger="click" hx-put="/comments/{{comment.id}}">
          {% if comment.approved %}Approved {% else %} Pending {% endif %}
        </button>
        <button
          hx-trigger="click"
          hx-delete="/comments/{{comment.id}}"
          _="on htmx:afterRequest(detail) if detail.xhr.status is 200 trigger delete"
        >
          Delete
        </button>
      </section>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
