{% extends '_layout.html' %} {% block nav %}
<nav>
  <a href="/">Home</a>
  <ul class="nav-items">
    <li><a href="{{ url_for('admin.admin_posts')}}">Posts</a></li>
    <li><a href="{{ url_for('admin.admin_comments')}}">Comments</a></li>
    <li><a href="{{ url_for('admin.admin_tags')}}">Tags</a></li>
  </ul>
</nav>
{% endblock %} {% block main_content %}
<a class="btn" id="add-post-btn" href="{{ url_for('admin.create_post')}}"
  >New post</a
>

<h2>Posts</h2>
<div class="admin container with-sidebar">
  <section class="sidebar">
    <h3>Filters</h3>
    <!--
      <label>
        <input type="checkbox" value="all" />
        All
      </label>
      <label>
        <input type="checkbox" value="published" />
        Published
      </label>
      <label>
        <input type="checkbox" value="draft" />
        Draft
      </label>
      -->
    <p>Search posts</p>
    <input
      type="text"
      _="on keyup show <article /> in .not-sidebar when its textContent.toLowerCase() contains my value.toLowerCase()"
    />
  </section>
  <section class="not-sidebar">
    {% for post in posts %}
    <article>
      <section class="meta">
        <h3>
          <a
            href="{{url_for('post.get_single_post', year=post.created_year, month=post.created_month, post_slug=post.slug)}}"
            >{{post.title}}</a
          >
        </h3>
        <p>
          {{ post.created_on.strftime('%Y-%m-%d %H:%M' )}} - {% if
          post.published %}published{% else %}draft{% endif %}
        </p>
      </section>
      <section class="actions">
        <a href="{{ url_for('admin.edit_post', post_id=post.id)}}">Edit</a>
        <a
          hx-delete="{{ url_for('admin.delete_post', post_id=post.id)}}"
          hx-confirm="Are you sure? This cannot be undone."
          >Delete</a
        >
      </section>
    </article>
    {% endfor %}
    <div class="pagination">
      {% if pagination.has_prev %}
      <a href="{{ url_for('admin.admin_posts', page=pagination.prev_num)}}"
        >Previous</a
      >
      {% endif %} {% for page in pagination.iter_pages() %} {% if page %} {% if
      page != pagination.page %}
      <a href="{{ url_for('admin.admin_posts', page=pagination.page) }}"
        >{{ page }}</a
      >
      {% else %}
      <strong>{{ page }}</strong>
      {% endif %} {% endif %} {% endfor %} {% if pagination.has_next %}
      <a href="{{ url_for('admin.admin_posts', page=pagination.next_num)}}"
        >Next</a
      >
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}
