{% extends "_layout.html" %} {% block head %}
<title>{{ article.title }}</title>
<link rel="canonical" href="https://ohheybrian.com/otherblog/posts/{{ article.slug}}" />
<meta name="keywords" content="{{ article.tags|map(attribute='name')|join(', ')  }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:url" content="https://ohheybrian.com/otherblog/posts/{{ article.slug}}" />
{% endblock %} {% block title %}{{ article.title }}{% endblock %} {% block
main_content %}
    <article>
      <div id="article_title">
        <h1>{{ article.title }}</h1>
      </div>
      <div id="article_meta">
        <p>
          {{ article.created_on.strftime('%Y-%m-%d %-I:%M %p') }}
        </p>
          {% if article.tags %} {% for tag in article.tags
          %}
          <a href="{{ url_for('tag.single_tag', tag_id=tag.id)}}"
            >#{{ tag.name }}</a
          > {% endfor %}
        </p>
        {% endif %}
      </div>
      <div id="article_text">{{ article.post_body|safe }}</div>
      <div class="article_actions">
        <img src="https://shareopenly.org/images/logo.svg" />
        <a
          href="https://shareopenly.org/share/?url=https://ohheybrian.com/otherblog/posts/{{ article.slug }}&text={{ article.title | urlencode }}"
          >Share this post</a
        >
      </div>
      <div id="pagination">
        {% if article.prev %}
        <div class="pag-item">
        <p>Previous</p>
        <a href="{{ url_for('post.get_single_post', year=article.prev.created_year, month=article.prev.created_month, post_slug=article.prev.slug)}}">{{ article.prev.title }}</a>
        </div>
        {% endif %}
        {% if article.next %}
        <div class="pag-item">
        <p>Next</p>
        <a href="{{ url_for('post.get_single_post', year=article.next.created_year, month=article.next.created_month, post_slug=article.next.slug)}}">{{ article.next.title }}</a>
        </div>
        {% endif %}
      </div>
    </article>
    <div class="comments">
    <form
      hx-post="{{ url_for('comments.post_comment', post_id=article.id)}}"
      hx-trigger="submit"
      hx-target="this"
      hx-swap="outerHTML"
    >
      <input name="post_id" value="{{article.id}}" type="hidden" />
      <label>Name *
        <input name="name" type="text" required />
      </label>
      <label>Website
        <input name="url" type="text" />
      </label>
      <label>What do you think?
        <textarea name="message"></textarea>
      </label>
      <input name="user_email" class="user_email" type="checkbox" />
      <input type="submit" value="Submit" />
    </form>
    {% from 'shared/macros.html' import render_comment %}
    {% for comment in article.comments if not comment.is_reply %}
      <article class="comment">
        <span class="comment--meta">
          <p>A thought from <b>{{ comment.name }}</b></p>
        </span>
        <em class="comment--datestamp">{{comment.occurred}}</em>
        <p>{{ comment.message|safe }}</p>
        <button
          class="btn"
          hx-get="{{ url_for('comments.get_comment_form', post_id=article.id, comment_id=comment.id)}}"
          hx-target="next div"
          hx-swap="innerHTML"
          hx-trigger="click"
        >
          Reply
        </button>
        <div class="reply"></div>
        {% if comment.has_replies %} {% for reply in comment.replies %} {% if
        reply.approved %} {{ render_comment(reply) }} {% endif %} {% endfor %} {%
        endif %}
      </article>
      {% endfor %}
    </div>
{% endblock %}
