{% extends "_layout.html" %} {% block head %} {% endblock %} {% block
main_content %}
<form action="/search" method="GET">
  <label
    >Search
    <input
      type="text"
      name="q"
      value="{%if query %}{{query}}{% else %}{%endif%}"
    />
  </label>
  <input type="submit" id="search" value="Search..." />
</form>
{% if results %} {% for post in results %}
<article>
  <header class="article_title">
    <h2>
      <a
        href="{{ url_for('post.get_single_post', month=post.created_on.strftime('%m'), year=post.created_on.strftime('%Y'), post_slug=post.slug)}}"
        >{{post.title}}</a
      >
    </h2>
  </header>
  <!-- {{ post.post_body|safe}} -->
  <footer class="article_footer">
    <time
      datetime="{{ post.created_on.isoformat() }}"
      pubdate="{{ post.created_on.isoformat() }}"
      >{{ post.created_on.strftime('%Y-%m-%d') }}</time
    >
  </footer>
  </article>
  {% endfor %} {% else %}
  <p>There's nothing to see here today.</p>
  {% endif %} {% endblock %}
</article>
