{% extends "_layout.html" %} {% block head %}
<title>Create Post</title>
{% endblock %} {% block main_content %}
<a href="{{ url_for('admin.admin_posts')}}">Back</a>
<div class="admin container with-sidebar">
  <form class="not-sidebar" hx-trigger="submit" {{method}}="{{endpoint}}">
    <h2>{{editor_title}}</h2>
    <label
      >Title
      <input
        name="title"
        type="text"
        {%
        if
        post
        %}value="{{post.title}}"
        {%
        endif
        %}
      />
    </label>
    <div name="post_body" id="post_body" style="height: 400px"></div>
    <!-- {% if post %}{{post_body}}{%else%}{% endif %} -->
    <label
      >Tags
      <input
        type="text"
        name="tags"
        autocomplete="off"
        {%
        if
        post
        %}value="{{', '.join(tags)}}"
        {%
        endif
        %}
      />
    </label>
    <label for="published"
      >Published:
      <input
        type="checkbox"
        name="published"
        {%
        if
        post.published
        %}checked="checked"
        {%
        endif
        %}
      />
    </label>
    <input type="submit" value="Save" />
  </form>
  <div class="sidebar">
    <div class="post-search">
      <input
        type="search"
        value=""
        name="search"
        placeholder="Search posts"
        hx-post="/search"
        hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
        hx-target="#search-results"
      />
    </div>
    <div id="search-results"></div>
    <form
      id="img-upload"
      hx-post="{{ url_for('admin.save_new_image') }}"
      hx-encoding="multipart/form-data"
      hx-swap="none"
    >
      <p>Allowed extensions: <i>.jpg, .png, .webp</i></p>
      <input type="file" name="file" accept=".jpg,.png,.webp" />
      <input type="submit" value="Upload" />
    </form>
    <button
      hx-get="{{ url_for('admin.load_images')}}"
      hx-swap="innerHTML"
      hx-target="#thumbnails"
    >
      Browse Images
    </button>
    <ul id="thumbnails"></ul>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/overtype@latest"></script>
<script defer>
  let val = "{{ post_body|safe }}" || null;

  const [editor] = new OverType("#post_body", {
    placeholder: "Start writing",
    textareaProps: {
      required: true,
      name: "post_body",
    },
    showStats: true,
  });

  document.querySelector(`#post_body`).addEventListener("submit", (e) => {
    const content = editor.getValue();
  });

  if (val) {
    editor.setValue(val);
  }
</script>
{% endblock %}
