{% extends "_layout.html" %} {% block main_content %}
<form hx-trigger="submit" hx-post="/admin/posts/add">
  <label
    >Title
    <input name="title" type="text" />
  </label>
  <textarea name="post_body"></textarea>
  <label
    >Category
    <input list="categories" name="category" />
  </label>
  <datalist name="categories">
    {% for cat in categories %}
    <option value="{{ cat.id }}">{{cat.name}}</option>
    {% endfor %}
  </datalist>
  <label
    >Tags
    <input type="text" name="tags" />
  </label>
  <label for="published"
    >Published:
    <input type="checkbox" name="published" />
  </label>
  <input type="submit" />
</form>
<form method="post" action="" enctype="multipart/form-data">
  <input type="file" name="img" accept=".jpg,.jpeg,.png,.webp" multple />
  <input type="submit" value="Submit" />
</form>
{% endblock %}
