:root {
  /*
		Suggested ratio from Every Layout.
		I'm trying to do better with this one.
		https://every-layout.dev/rudiments/modular-scale/
	*/
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  /* Default font settings */
  --sans-serif: system-ui;
  --lh-base: var(--ratio);
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--sans-serif);
  line-height: var(--lh-base);
  overflow-wrap: break-word;
  word-break: break-word;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
