:root {
  --black: #121212;
  --dark-gray: #bababa;
  --gray: #eee;
  --white: #fff;
  --yellow: #fbec88;
  --green: #aaba78;
  --orange: #f0ca6a;
  --pink: #ffc2b0;

  /*
		Suggested ratio from Every Layout.
		I'm trying to do better with this one.
		https://every-layout.dev/rudiments/modular-scale/
	*/
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  /* Default font settings */
  --sans-serif: system-ui;
  --lh-base: var(--ratio);
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

/* GENERICS */
html {
  font-family: var(--sans-serif);
  line-height: var(--ratio);
  overflow-wrap: break-word;
  word-break: break-word;
  padding-block: var(--s3);
  padding-inline: var(--s4);
}

body {
  background: var(--white);
  font-size: 16px;
  line-height: var(--ratio);
  margin: 0;
  padding: 0;
}

div.green {
  background-color: var(--green);
}

div.orange {
  background-color: var(--orange);
}

div.yellow {
  background-color: var(--yellow);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 2px solid transparent;
  border-radius: 2px;
}

gallery img {
  border-radius: 0;
}

/* Visual elements */
.float-block--small {
  height: 40px;
  width: 40px;
  border-radius: 2px;
}

.float-block--small.inline {
  display: inline-block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--s4);
}

#nav-face {
  width: 32px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.nav-items a:last-child {
  margin-right: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
}

/* shamelessly stolen from Leon Paternoster
https://www.kjz.im
*/
main:not(figure:has(img), p:has(img:first-child), img, div, article) {
  max-inline-size: 50vw;
}

footer {
  margin-block-start: var(--s4);
  font-size: var(--s-1);
}

/* Comments */
.comment {
  border: 1px solid var(--dark-gray);
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.comment-actions {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

@media screen and (max-width: 1068px) {
  .face {
    display: none;
  }

  .container--flex {
    flex-direction: column;
  }

  .container--flex .card {
    min-width: 80%;
    max-width: 100%;
  }

  #beekeeping {
    width: 30%;
    margin: 0 auto;
  }

  #beekeeping:before {
    left: 0;
  }

  #beekeeping:after {
    left: -2rem;
  }

  #academics {
    order: 2;
  }

  #academics:before {
    width: 60%;
    left: 8rem;
  }

  #academics:after {
    width: 52%;
  }

  img {
    height: 30%;
  }

  .filters {
    position: relative;
    top: auto;
    width: auto;
  }
}
