:root {
  --black: #222;
  --dark-gray: #bababa;
  --gray: #eee;
  --white: #fff;
  --yellow: #fbec88;
  --green: #47b65d;
  --orange: #f0ca6a;
  --pink: #ffc2b0;
  --red: #e81f1f;

  /*
		Suggested ratio from Every Layout.
		I'm trying to do better with this one.
		https://every-layout.dev/rudiments/modular-scale/
	*/
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  /* Default font settings */
  --sans-serif: system-ui;
  --lh-base: var(--ratio);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #222;
    --black: #eee;
  }

  #nav-face {
    filter: invert();
  }
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

/* GENERICS */
html {
  font-family: var(--sans-serif);
  line-height: var(--ratio);
  overflow-wrap: break-word;
  word-break: break-word;
  padding-block: var(--s0);
  padding-inline: var(--s3);
}

body {
  background: var(--white);
  font-size: 16px;
  line-height: var(--ratio);
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 2px solid transparent;
  border-radius: 2px;
}

gallery img {
  border-radius: 0;
}

/* SPECIFIC ELEMENTS */

#add-post-btn {
  align-self: flex-end;
  padding-inline: var(--s1);
  padding-block: var(--s-2);
  width: max-content;
  border-radius: var(--s-3);
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  background-color: var(--green);
  transition: all ease-in-out 0.15s;
}

#add-post-btn:hover {
  filter: brightness(0.8);
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--s4);
  flex-wrap: wrap;
}

#nav-face {
  width: 32px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.nav-items li {
  list-style-type: none;
}

.nav-items a:last-child {
  margin-right: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--s4);
}

article > #article_text img {
  width: 100%;
}

article > #pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block-start: var(--s0);
}

#pagination > .pag-item p {
  font-size: var(--s-1);
  text-transform: uppercase;
}

/* shamelessly stolen from Leon Paternoster
https://www.kjz.im

Limit any text container to 50rem while keeping main full width */
main:not(:has(div.admin), div.container, article) {
  max-inline-size: 50rem;
}

main > article > .article_title a {
  text-decoration: none;
  color: var(--black);
}

main > article > .article_title a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Push pagination down after the last article */
article:last-of-type {
  margin-block-end: var(--s2);
}

.admin.with-sidebar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.admin > .sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
}

.admin > .not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.admin > .not-sidebar > article > .meta,
.admin > .not-sidebar > article > .actions {
  display: flex;
  align-items: center;
}

.admin > .not-sidebar > article > .meta {
  justify-content: space-between;
}

.admin > .not-sidebar > article > .meta p {
  color: var(--dark-gray);
  font-size: var(--s-1);
}

.admin > .not-sidebar > article > .actions {
  gap: var(--s2);
}

.admin > .not-sidebar > article > .actions a:last-child {
  color: var(--red);
}

.admin > .not-sidebar > article > .actions a:last-child:hover {
  cursor: pointer;
  font-weight: 600;
}

/* Post editor */
form.not-sidebar * {
  display: block;
  width: 100%;
}

form.not-sidebar * + * {
  margin-block-end: var(--s1);
}

form input[type="text"] {
  line-height: var(--s1);
  padding: var(--s-4);
}

form input[name="title"] {
  line-height: var(--s2);
  font-size: var(--s1);
}

form textarea[name="post_body"] {
  height: 50vh;
  padding: var(--s-2);
  font-family: monospace;
}

form input[type="submit"] {
  width: auto;
}

/* Set a checkbox next to its label */
form input[type="checkbox"] {
  display: inline;
  width: auto;
}

footer {
  font-size: var(--s-1);
}

footer:not(.article_footer) {
  margin-block-start: var(--s4);
}

/* Comments */
.comments form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--s1);
  margin-block-end: var(--s3);
}

.comments form label {
  flex-grow: 1;
}

.comments form label[for="name"] {
  flex-grow: 0;
  flex-basis: 51%;
}

/* Spam honeypot */
.comments form .user_email {
  display: none;
}

.comments form label input,
.comments form label textarea {
  width: 100%;
}

.comments form label:nth-of-type(3) {
  flex-basis: 100%;
}

.comments form label textarea {
  height: var(--s5);
  padding: var(--s-2);
}

.btn,
.comments form input[type="submit"] {
  width: var(--s5);
  padding: var(--s-2);
  margin-inline-start: auto;
  font-size: inherit;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);

  transition: all 0.2s ease-in-out;
}

.btn:hover,
.comments form input[type="submit"]:hover {
  box-shadow: var(--black) 0 var(--s-4) 0 0;
  cursor: pointer;
}

.comment {
  border: 1px solid var(--black);
  width: 100%;
  padding-block: var(--s0);
  padding-inline: var(--s1);
  margin-bottom: var(--s1);
}

.comment--meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comment--datestamp {
  color: var(--dark-gray);
}

.comment-reply {
  margin-block-start: var(--s1);
  padding-block-start: var(--s0);
  border-top: 1px solid var(--dark-gray);
}

.comment-actions {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

@media screen and (max-width: 1068px) {
  .face {
    display: none;
  }

  .container--flex {
    flex-direction: column;
  }

  .container--flex .card {
    min-width: 80%;
    max-width: 100%;
  }

  #beekeeping {
    width: 30%;
    margin: 0 auto;
  }

  #beekeeping:before {
    left: 0;
  }

  #beekeeping:after {
    left: -2rem;
  }

  #academics {
    order: 2;
  }

  #academics:before {
    width: 60%;
    left: 8rem;
  }

  #academics:after {
    width: 52%;
  }

  img {
    height: 30%;
  }

  .filters {
    position: relative;
    top: auto;
    width: auto;
  }
}
